* {
    cursor: url('../assets/pointer-heart.png') 12 12, pointer !important;
}

.start-screen {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(-45deg,
            rgba(255, 223, 212, 0.90),
            rgba(254, 200, 216, 0.90),
            rgba(241, 150, 104, 0.90),
            rgba(254, 162, 138, 0.90),
            rgba(224, 187, 230, 0.90),
            rgba(211, 145, 189, 0.90),
            rgba(149, 125, 173, 0.90));
    backdrop-filter: blur(10px);
    animation: gradient 20s ease infinite;
    background-attachment: fixed;
    background-size: 400% 400%;
    min-height: 100vh;
    margin: 0;
}

.start-bubble {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding: 80px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 5px 5px 10px #605151;
}

.start-heading h1,
.start-heading p {
    margin: 0;
    text-align: center;
}

.start-heading p {
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: #a84f76;
    font-size: 16px;
    font-weight: bold;
}

.start-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#start,
#name-input,
#reset, 
#play-again {
    padding: 12px 24px;
    border: none;
    border-radius: 15px;
    background: #ffd6e5;
    color: #a84f76;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 5px 5px 10px #e8b8c8;
    font-family: 'Times New Roman', Times, serif;
}

::placeholder {
    color: #a84f76;
}

.hidden {
    display: none !important;
}

body {
    background-image: linear-gradient(-45deg, #FFDFD4, #FEC8D8, #F19668, #FEA28A, #E0BBE6, #D391BD, #957DAD);
    animation: gradient 20s ease infinite;
    background-attachment: fixed;
    background-size: 400% 400%;
    min-height: 100vh;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    box-sizing: border-box;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

h1 {
    color: #a84f76;
    font-size: 56px;
    font-family: "Honk", system-ui;
    margin: 20px 0 5px;
    margin-top: 0;
    letter-spacing: 2px;
}

#message {
    color: #a84f76;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}

.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: min(400px, 80vw);
    aspect-ratio: 1;
    height: auto;
    gap: 10px;
    margin-bottom: 20px;
}

.crds {
    width: 23%;
    height: 23%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 250%;
    color: #d86c9a;
    text-align: center;
    border: none;
    border-radius: 20px;
    background: #ffd6e5;
    box-shadow: 5px 5px 10px #e8b8c8;
    transition: all 0.2s ease;
}

.tools {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
    margin: 20px 0;
    padding: 12px 24px;
    border: none;
    border-radius: 15px;
    background: #ffd6e5;
    color: #a84f76;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 5px 5px 10px #e8b8c8
}

.crds:hover,
#reset:hover,
#start:hover,
#play-again:hover {
    transform: translateY(-3px);
}

.crds:active,
#reset:active,
#start:active,
#play-again:active {
    box-shadow: inset 4px 4px 8px #e8b8c8, inset -4px -4px 8px #fff0f6;
}