* {

    /* (#a84f76, #d86c9a, #e8b8c8, #ffd6e5, #fff0f6, #ffe4ec)) */

}

body {
    background-color: #ffe4ec;
    background-image: linear-gradient(-45deg, #fdb5d4, #e8b8c8, #ffc8ba, #ffd6e5, #ffe4ec);
    animation: gradient 20s ease infinite;
    background-attachment: fixed;
    background-size: 400% 400%;
    min-height: 100vh;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Times New Roman', Times, serif;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

h1 {
    color: #a84f76;
    font-size: 475%;
    /*     text-transform: uppercase; */
    font-family: "Honk", system-ui;
    margin-bottom: 10px;
    letter-spacing: 2px;
    cursor: none;
}

#message {
    color: #a84f76;
    margin-bottom: 20px;
}

.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 400px;
    height: 400px;
    display: flex;
    gap: 10px;
}

.crds {
    width: 23%;
    height: 23%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 250%;
    color: #d86c9a;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    background: #ffd6e5;
    box-shadow: 5px 5px 10px #e8b8c8/* , -5px -5px 10px #fff0f6 */;
    transition: all 0.2s ease;
}

.tools {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
    margin-top: 30px;
    padding: 12px 24px;
    border: none;
    border-radius: 15px;
    background: #ffd6e5;
    color: #a84f76;
    font-size: 16px;
    font-weight: bold;
    cursor: none;
    box-shadow: 5px 5px 10px #e8b8c8/* , -5px -5px 10px #fff0f6; */
}

#reset {
    margin-top: 30px;
    padding: 12px 24px;
    border: none;
    border-radius: 15px;
    background: #ffd6e5;
    color: #a84f76;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 5px 5px 10px #e8b8c8/* , -5px -5px 10px #fff0f6 */;
    font-family: 'Times New Roman', Times, serif;

}

.crds:hover,
#reset:hover {
    transform: translateY(-3px);
}

.crds:active,
#reset:active {
    box-shadow: inset 4px 4px 8px #e8b8c8, inset -4px -4px 8px #fff0f6;
}